<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729060448602-a4h9ascoicfkpuimspiith7o5o0hv2va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729060448602-a4h9ascoicfkpuimspiith7o5o0hv2va</string>
	<key>API_KEY</key>
	<string>AIzaSyCYDmRwc9MBdJTVyqf-bCsD5ttK2rUXBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>729060448602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>project-manager-566fc</string>
	<key>STORAGE_BUCKET</key>
	<string>project-manager-566fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729060448602:ios:49a425e34d0c54b5863b63</string>
</dict>
</plist>