<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339501473713-hqk4k44nlirgkh33uncq24jhjfir171e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339501473713-hqk4k44nlirgkh33uncq24jhjfir171e</string>
	<key>API_KEY</key>
	<string>AIzaSyBe1A3bXCTT3GampJMRjWecH8Bn4kR_yfg</string>
	<key>GCM_SENDER_ID</key>
	<string>339501473713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>project-manager-yagom</string>
	<key>STORAGE_BUCKET</key>
	<string>project-manager-yagom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339501473713:ios:749d147536f8a4bb84e790</string>
</dict>
</plist>