<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394153439041-a98mq7luas6430oq5tf25j39vufn83f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394153439041-a98mq7luas6430oq5tf25j39vufn83f7</string>
	<key>API_KEY</key>
	<string>AIzaSyCovefflA6FoXze52_ZIk5IeCECRowS7zY</string>
	<key>GCM_SENDER_ID</key>
	<string>394153439041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanager-c4ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanager-c4ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394153439041:ios:e635c01aadbbc1eef7bbc0</string>
</dict>
</plist>