<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646843448738-ml0basb9dhn4sneqfcteqh6mvs2ismg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646843448738-ml0basb9dhn4sneqfcteqh6mvs2ismg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWm3R2X8LPDWMag36lxMvbg3vbY2bVx0</string>
	<key>GCM_SENDER_ID</key>
	<string>646843448738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnn.yagom</string>
	<key>PROJECT_ID</key>
	<string>yagomprojectmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>yagomprojectmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646843448738:ios:6e8dcde72bc76e4ca906fb</string>
</dict>
</plist>