<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297264160855-1q42n0699tmcv9r0ojkbdkjdb6t7u2t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297264160855-1q42n0699tmcv9r0ojkbdkjdb6t7u2t3</string>
	<key>API_KEY</key>
	<string>AIzaSyDRgKhmae9TX1yaUQp5CG1Hr5V039siJ6E</string>
	<key>GCM_SENDER_ID</key>
	<string>297264160855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lingo.project-manager</string>
	<key>PROJECT_ID</key>
	<string>project-manager-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>project-manager-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297264160855:ios:9d4d3f255034742cc48312</string>
</dict>
</plist>