<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460511690688-7p5pma7cdvn5d0lmmq9h5qpq2t1hp923.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460511690688-7p5pma7cdvn5d0lmmq9h5qpq2t1hp923</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jZKJPwDnBGq5W8W0wMh5MynkxtSpYqg</string>
	<key>GCM_SENDER_ID</key>
	<string>460511690688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanager-1f7cf</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanager-1f7cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460511690688:ios:7c16478bfacf9a6763d225</string>
</dict>
</plist>