<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959387465801-pak16lb96km8o5f4v95kv597u9ldn8ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959387465801-pak16lb96km8o5f4v95kv597u9ldn8ev</string>
	<key>API_KEY</key>
	<string>AIzaSyCT8JX2YyFlVD80j4fIbk-hRuQnVwWR4_s</string>
	<key>GCM_SENDER_ID</key>
	<string>959387465801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanager-9cb89</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanager-9cb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959387465801:ios:c94d2b7b94202e24f72798</string>
	<key>DATABASE_URL</key>
	<string>https://projectmanager-9cb89-default-rtdb.firebaseio.com</string>
</dict>
</plist>