<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207020224107-eafneo017fsdv4b04s08vakgaeocm7p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207020224107-eafneo017fsdv4b04s08vakgaeocm7p9</string>
	<key>API_KEY</key>
	<string>AIzaSyBjrvaFYseMEJaoEDRUlZaFtMq2gzQEfbs</string>
	<key>GCM_SENDER_ID</key>
	<string>207020224107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jane.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>janejiseongproject</string>
	<key>STORAGE_BUCKET</key>
	<string>janejiseongproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207020224107:ios:876e2f86ddc8bece874b2e</string>
</dict>
</plist>