<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507409488153-b0km2fc1plemk1s6misjek94m9ei0vv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507409488153-b0km2fc1plemk1s6misjek94m9ei0vv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAz75z7oB94FszhtXoQyiPtPhkaUR9OxRs</string>
	<key>GCM_SENDER_ID</key>
	<string>507409488153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.bicycleforthemind.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>jager-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>jager-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507409488153:ios:f6a29094512afeb43a0d88</string>
</dict>
</plist>