<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441318921559-g938fqn0cpnt04cdpqnpfjv7t2gsabm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441318921559-g938fqn0cpnt04cdpqnpfjv7t2gsabm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCKyBaUU71wV7ieiai1jFTbLPa1prvnaGY</string>
	<key>GCM_SENDER_ID</key>
	<string>441318921559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.minsson.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>project-manager-6ccf7</string>
	<key>STORAGE_BUCKET</key>
	<string>project-manager-6ccf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441318921559:ios:8fd2801631e09da5d41a12</string>
</dict>
</plist>